/* .custom-button {
width: 13.5rem;
height: 2.625rem;
flex-shrink: 0;
border-radius: 0.625rem;
background: #183552;
text-align: center;
color:#FFF;
} */

#intro {
width: 50.65331rem;
height: 22.9375rem;
flex-shrink: 0;
padding-top: 6rem;
}

#photo {
width: auto;
height: auto;
padding-left: 5rem;
padding-bottom: 10rem;
flex-shrink: 0;
border-radius: 0.625rem;
/* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

#nav {
padding-bottom: 3rem;
text-align: center;
}

#nav a {
color: white;
}

#about {
background-image: url('../images/Background.png');
/* background-color: lightgray 50% cover no-repeat; */
/* width: 80%; */
height: auto;
flex-shrink: 0;
}


/* #footer {
background-image: url('../images/footer.png');
} */

a {
padding-bottom: 10rem;
}

.contact {
text-align: center;
}

.blue {
background-color: #2E5871;
color: #FFF;
/* font-family: Istok Web; */
font-size: 1.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
height: auto;
}

.white {
padding-top: 3rem;
background-color: #FFFFFF;
color: #183552;
/* font-family: Istok Web; */
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.light-blue {
width: 20.875rem;
height: 18.4375rem;
flex-shrink: 0;
border-radius: 0.3125rem;
background: rgba(46, 88, 113, 0.14);
}

.small-box {
width: auto;
height: auto;
/* height: 18.4375rem; */
border-radius: 0.3125rem;
background: rgba(46, 88, 113, 0.14);  */
background-image: url('../images/bluebox.png');
padding: 10px;
flex-shrink: 0;
}

.u-max-full-width {
 max-width: 100%;
box-sizing: border-box; 
}

.portfolio {
padding-bottom: 6rem;
}

.hero {
    padding-top: 6rem;
}